body{
  /* background-color: #f5f5f5; */
  font-family: "Open Sans", sans-serif;
  color: #4A174F;
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  left: 0;
}

#nav {
  z-index: -999;
  width: 100%
}

#pitch {
  z-index: 999; 
  position: absolute; 
  margin-top: -475px;
  color: white;
  margin-left: 100px;
  margin-right: 100px;
  font-family: "Avenir-Light";
  letter-spacing: 1px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}

header h2 {
  margin-left: 60px;
}

h4, dd, .checkbox label{
  font-weight: 200;
}

dt{
  font-weight: 400;
}

select, textarea, input {
  border-radius: 0 !important;
  font-weight: 200;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none !important;
}

select:focus, textarea:focus, input:focus {
  border-color: #CCC !important;
}

.container {
  margin:0 auto;
  margin-top: 50px;
  position: relative;
  height: 1000px;
}

.sidebar {
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  min-height: 600px;
  /* background-color: #f5f5f5; */
}

.sidebar.col-md-3 {
  padding: 0px;
}

.sidebar .well {
  border-radius: 0px;
  /* background-color: #EEE; */
  background-color: #FFF;
  -webkit-box-shadow: none; 
  box-shadow: none;
}

.img-responsive {
  border-radius: 100%;
  width: 170px;
  margin-top: 20px;
  border-color: blue;
}

.sidebar h4{
  padding-left: 0px;
  padding-bottom: 0px;
  font-size: 25px;
  text-align: center;
}

.sidebar .row{
  border-bottom: 2px solid #20B2AA;
  margin-bottom: 10px;
}

.sidebar .progress{
  margin-bottom: 0px;
  margin-top: 12px;
  float: right;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}

.sidebar .progress-bar{
  background-color: #F08080;
  border-radius: 0;
}

.sidebar legend{
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #4A174F;
}

.criteria{
  background-color: #D3D3D3;
  min-height: 110px;
  margin: 20px 0px;
  padding-bottom: 5px;
}

.title{
  padding: 5px 0 ;
  color: #222;
  font-size: 25px;
  font-weight: 600;
  width: 140px;
}

.content{
  margin-top: 15px;
}

.thumbnail{
  /* background-color: #EEE; */
  min-height: 265px;
  border-radius: 0;
  min-height: 300px;
  border: none;
}

.label{
  border-radius: 0;
}

.caption .detail{
  margin-top: 15px;
  color: #4A174F;
}

.caption .field{
  font-weight: bold;
  float: left;
  width: 65px;
}

.caption h4{
  color: #4A174F;
  min-height: 45px;
  text-transform: uppercase;
  font-weight: bold;
}

.field-row{
  display: block;
}

.voice{
  margin-bottom: 20px;
  padding-right: 5px;
}

.voice h4{
  margin-top: 15px;
  margin-bottom: -5px;
  border-bottom: 1px solid #A9A9A9;
  padding-bottom: 7px;
}

.age{
  float: right;
  font-size: 14px;
  margin-top: -5px;
  margin-right: -5px;
  background-color: #222;
}

.age .glyphicon{
  vertical-align: middle;
  color: #fff;
  margin-top: -5px;
}

.first{
  margin-top: 10px;
}

.collection{
  margin-right: 1px;
}

.description {
  display: block;
  position: absolute;
  left: 15px;
  height: auto;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  -webkit-transition: opacity .25s ease-in;
  -ms-transition: opacity .25s ease-in;
  -moz-transition: opacity .25s ease-in;
  -o-transition: opacity .25s ease-in;
  transition: opacity .25s ease-in;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px 15px;
  /*text-align: center;*/
  margin-bottom: 0px;
  font-weight: 200;
  color: #4A174F;
}

.caption:hover .description{
  opacity: 1;
}

.caption:hover .detail{
  opacity: 0;
}

.runtime, .open-close{
  display: block;
  margin-top: 10px;
  font-weight: 500;
  font-size: 15px;
  color: #222;
}

.runtime .glyphicon{
  vertical-align: middle;
  margin-right: 3px;
}

.open-close .glyphicon{
  margin-right: 3px;
}

.ui-widget-header{
  background: none;
  background-color: #4A174F;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-state-foucs{
  background-color: #000;
  border: 1px black solid;
}

.slider{
  margin: 0 20px;
}

.slider-label{
  display: block;
  text-align: center;
  font-weight: 200;
}

.search-icon{
  position: relative;
  margin-top: -25px;
  display: inline-block;
  width: 28px;
  height: 14px;
  line-height: 14px;
  vertical-align: middle;
  background-color: transparent;
  font-size: 20px;
  color: #222;
  float: right;
}

.ui-slider-handle{
  border-radius: 100%;
  outline: none;
}

#total_voices{
  font-size: 25px;
  font-weight: 700; 
}

.voices-pagination{
  text-align: center;
}

.voices-pagination li a{
 color: #000;
}

.voices-pagination li.active a{
  background-color: #AAA;
  border-color: #AAA;
}

#gender_criteria {
  margin-bottom: -35px;
}

#gender_criteria .checkbox{
  display: inline-block;
}

#age_criteria {
  margin-bottom: -35px;
}

.vote span {
  font-weight: 700;
}

fieldset{
    padding-bottom: 25px;
}

/*vote-criteria: round-shape buttons display in one line*/
#vote_criteria .round{
    display: inline-block;
}

/*vote-criteria: clinton round shape img*/
.round-clinton {
  width: 45px;
  height: 45px;
  position: relative;
  background-image: url("../assets/clinton.png");
  cursor: pointer;
}

.round-clinton label {
  opacity: 0;
  width: 45px;
  height: 45px;
}

/*vote-criteria: cruz round shape img*/
.round-cruz {
  width: 45px;
  height: 45px;
  position: relative;
  background-image: url("../assets/cruz.png");
}

.round-cruz label {
  opacity: 0;
  width: 45px;
  height: 45px;
}

/*vote-criteria: kasich round shape img*/
.round-kasich {
  width: 45px;
  height: 45px;
  position: relative;
  background-image: url("../assets/kasich.png");
}

.round-kasich label {
  opacity: 0;
  width: 45px;
  height: 45px;
}

/*vote-criteria: sanders round shape img*/
.round-sanders {
  width: 45px;
  height: 45px;
  position: relative;
  background-image: url("../assets/sanders.png");
}

.round-sanders label {
  opacity: 0;
  width: 45px;
  height: 45px;
}

/*vote-criteria: trump round shape img*/
.round-trump {
  width: 45px;
  height: 45px;
  position: relative;
  background-image: url("../assets/trump.png");
}

.round-trump label {
  opacity: 0;
  width: 45px;
  height: 45px;
}


